<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đóng Học Phí TDTU</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="payment-form">
        <h2>Đăng nhập</h2>
        <div>
            <label for="studentId">Mã Số Sinh Viên:</label>
            <input type="text" id="studentId" >
        </div>
        <div>
            <label for="studentName">Mật khẩu:</label>
            <input type="text" id="password" >
        </div>
        
        <button id="confirmButton">Xác Nhận</button>
    </div>
    <script src="script/login.js"></script>
</body>
</html>
